h1, h3 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    padding: 10px;
    border-bottom: 2px solid #121212;
}

#course_image {
    display: flex;
    justify-content: center;
    margin: 50px;
}

img {
    margin-top: 50px;
    margin-inline: 50px;
}

#course_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

#course_bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}


#title_jogos {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 130px;
}

#title_ia {
    margin-right: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bio_jogos {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 130px;
    width: 770px;
}

#bio_ia {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 770px;
    margin-left: 387px;
}

#my-bio {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


table {
    border-collapse: collapse;
    width: 50%; /* Define a largura da tabela */
    margin: 20px auto; /* Centraliza a tabela na página */
}

th, td {
    border: 1px solid #ccc; /* Borda fina cinza em células e cabeçalhos */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2; /* Cor de fundo para cabeçalhos */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor de fundo alternada para linhas pares */
}